:root {
  /*
    |============================
    | Colors
    |============================
  */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --gray: #2e2f42;
  --white: #ffffff;
  /*
    |============================
    | Background Colors
    |============================
  */
  --bg-iris: #4d5ae5;
  --bg-ocean: #404bbf;
  --bg-navy-blue: #2e2f42;
  --bg-cloud: #f4f4fd;
  --bg-white: #ffffff;
  --bg-modal: #fcfcfc;
}

/*
    |============================
    | Reset style
    |============================
  */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--bg-white);
  color: var(--navy-blue);
}
button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.header {
  border-bottom: 1px solid var(--cornflower);
  padding-top: 14px;
  padding-bottom: 14px;
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .strategy-item .section-sub-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}

@media screen and (max-width: 1199px) {
  .strategy-item .section-sub-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.section-sub-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.logo-link {
  display: flex;
  margin-right: 76px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  align-items: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--navy-blue);
}

@media screen and (min-width: 768px) {
  .logo-link {
    margin-right: 76px;
  }
}

.logo {
  color: var(--iris);
}

.logo-ligth {
  color: var(--cloud);
}

.nav-item {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
  }
}

/* Mobile menu */

.menu-toggle {
  line-height: 0;
}

.menu-container {
  display: flex;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-top: 80px;
  flex-direction: column;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  color: var(--bg-navy-blue);
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mob-menu .link-mobile {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.menu-link.menu-link-current {
  color: #404bbf;
}

.contacts-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.contact-link.current {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #404bbf;
}

.contacts-list-mobile .contact-link {
  font-weight: 500;
  font-size: 18px;
}

.mobile-link-items:not(:last-child) .link-mobile,
.contact-link {
  position: relative;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

.link-mobile {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bg-navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-mobile:hover,
.link-mobile:focus {
  color: var(--iris);
}

.link-mobile.current {
  color: var(--iris);
}

@media screen and (min-width: 768px) {
  .link-mobile.current::after {
    content: "";
    position: absolute;
    bottom: -28px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--bg-ocean);
  }
}

.contacts-list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 4px;
}

@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 40px;
  }
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: var(--ocean);
}

.nav-link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  top: 45px;
  background: var(--bg-ocean);
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.contact-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 428px) {
  .contact-link.current {
    font-weight: 500;
    font-size: 36px;
  }
}

@media screen and (min-width: 468px) and (max-width: 1199px) {
  .contact-link {
    font-size: 12px;
    line-height: 1.33;
  }
}

.link-mobile.menu-link-current {
  color: #404bbf;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}

@media screen and (max-width: 768px) {
  .menu-toggle-icon {
    fill: #2e2f42;
  }
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.contacts .contacts-item:not(:last-child) {
  margin-right: 40px;
}

/*
.menu-toggle.js-close-menu {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 50%;
  background: #e7e9fc
}
*/

.js-close-menu:hover,
.js-close-menu:focus {
  background-color: #404bbf;
}

.icon-burger {
  fill: rgb(0, 0, 0);
}

.hero-section {
  max-width: 1440px;
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mob_hero@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tab_hero@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tab_hero@2x.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-2x.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
.hero-title {
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-title-text-color);
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 496px;
    font-size: 56px;
    line-height: calc(60 / 56);
    margin-bottom: 40px;
    text-transform: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.hero-title {
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--bg-white);
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 496px;
    font-size: 56px;
    line-height: calc(60 / 56);
    margin-bottom: 40px;
    text-transform: none;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-btn {
  display: flex;
  min-width: 169px;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--bg-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--white);
  background: var(--bg-ocean);
}

.strategy-icon-conteiner {
  display: none;
}
@media screen and (min-width: 1200px) {
  .strategy-icon-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--cloud);
    border-radius: 4px;
  }
}

.strategy-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--bg-navy-blue);
  margin-bottom: 72px;
}

.strategy-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .strategy-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 72px;
  }
  .strategy-item {
    width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .strategy-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .feature-item {
    width: 264px;
  }
}

.strategy-item {
  width: 264px;
}

.concept-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .concept-section {
    display: block;
    padding-top: 0;
  }
  .concept-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
  }
  .concept-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

.team-section {
  background-color: var(--bg-cloud);
}

.team-content {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
}

@media screen and (max-width: 767.99px) {
  .team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  .social-items {
    flex-basis: calc((100% - 48px) \2);
  }
}

@media screen and (max-width: 1200px) {
  .team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  .social-items {
    flex-basis: calc((100% - 48px) \2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .social-items {
    flex-basis: calc((100% - 72px) \4);
  }
}

.team-item {
  background-color: var(--bg-white);
}

.text-container {
  padding: 32px 16px;
  text-align: center;
  background-color: var(--bg-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  border-top: 0;
}

.networks {
  margin-bottom: 8px;
}

.social-networks {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 12px;
  background-color: var(--bg-iris);
  border-radius: 50%;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: var(--cloud);
}

.social-link:hover,
.social-link:focus {
  background: var(--bg-ocean);
}

.customers-section {
  padding-top: 130px;
}

.customers-social-networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
  margin: auto;
}

.customers-social-items {
  flex-basis: calc((100% - 16px) / 2);
}

@media screen and (min-width: 768px) {
  .customers-social-networks {
    column-gap: 24px;
    row-gap: 72px;
  }
  .customers-social-items {
    flex-basis: 168px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-social-networks {
    column-gap: 24px;
  }
}

.customers-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 88px;
  color: var(--light-slate);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-social-icon {
  fill: currentColor;
}

.customers-social-link:hover,
.customers-social-link:focus {
  color: var(--ocean);
  border: 1px solid var(--ocean);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrapper {
    align-items: flex-start;
    padding-left: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.footer-section {
  background-color: var(--bg-navy-blue);
}

@media screen and (min-width: 1200px) {
  .footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    margin-left: auto;
  }
}

.footer-conteiner {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .footer-conteiner {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-conteiner {
    display: flex;
    gap: 120px;
  }
}

.footer-content {
  width: 264px;
  margin-top: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower);
}

.footer-social-networks {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  gap: 16px;
}

.mob-social-networks {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  gap: 38px;
}

.social {
  background-color: var(--bg-iris);
}

.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-iris);
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-logo-conteiner {
    align-items: flex-start;
  }
}

.footer-section-text {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-section-text {
    text-align: left;
  }
}

.footer-social-link:hover,
.footer-social-link:focus {
  background: var(--green);
}

.sub-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .sub-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.sub-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--cornflower);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.hero-btn.sub-btn {
  display: flex;
  min-width: 165px;
  padding: 8px 24px;
  align-items: center;
  box-shadow: none;
}

.sub-btn:hover,
.sub-btn:focus {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.send-icon {
  margin-left: 16px;
}

.section-sub-title.footer-section {
  display: block;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #ffff;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.filter-btn {
  padding: 12px 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--iris);
  background: var(--bg-cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  transition-property: color, background, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background: var(--bg-ocean);
  border: 1px solid var(--bg-ocean);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-section {
  padding-top: 96px;
}

.gallery-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
}

.gallery-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.gallery-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.portfolio-text-container {
  padding: 32px 16px;
  border: solid 1px var(--cornflower);
  border-top: 0;
  background-color: #ffffff;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50px;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translateX(-50%) scale(1);
  min-width: 408px;
  min-height: 576px;
  background-color: var(--bg-modal);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px rgb(0 0 0 / 12%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

.modal-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.thumb-text {
  position: absolute;
  padding: 40px 32px 0;
  line-height: 24px;
  width: 100%;
  height: 100%;
  color: var(--cloud);
}

.portfolio-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(--bg-iris);
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0%);
  opacity: 1;
}

.modal-form {
  position: relative;
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-input {
  height: 40px;
  width: 100%;
  padding: 11px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-10%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-modal-icon {
}

.modal-input:focus + .modal-icon,
.modal-input:focus,
.text-area:focus {
  border-color: var(--bg-iris);
  fill: var(--bg-iris);
}

.modal-text {
  display: block;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.area {
  position: relative;
  margin-bottom: 16px;
}

.text-area {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.04em;
}

.modal-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(50%);
}

.modal-checkbox:checked + .checkbox-icon {
  border: 1.25px solid transparent;
  background-color: var(--bg-ocean);
  background-origin: border-box;
  fill: var(--bg-cloud);
}

.checkbox {
  margin-bottom: 0;
}

.checkbox-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--bg-navy-blue);
  border-radius: 2px;
  fill: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  color: var(--bg-iris);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link:hover,
.policy-link:focus {
  color: var(--bg-ocean);
}

.submit.hero-btn {
  display: block;
  margin: auto;
  width: 169px;
  margin-top: 24px;
}
